replicaCount: 1

image:
  repository: arjunnigam/user-service
  tag: "v3"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8083

env:
  DB_PATH: "/data/users.db"

ingress:
  enabled: false

persistence:
  enabled: true
  size: 1Gi
  storageClass: ""

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

