apiVersion: v1
kind: Service
metadata:
  name: {{ include "frontend.fullname" . }}
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80

