apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "book-service.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "book-service.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "book-service.name" . }}
    spec:
      containers:
        - name: book-service
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          env:
            - name: DB_PATH
              value: {{ .Values.env.DB_PATH | quote }}

          ports:
            - containerPort: {{ .Values.service.port }}

          volumeMounts:
            - name: data-volume
              mountPath: /data

          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /health
              port: {{ .Values.service.port }}
            initialDelaySeconds: 2
            periodSeconds: 5

          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}

      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: {{ include "book-service.fullname" . }}-pvc

